body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
}

header img.logo {
    max-width: 150px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    display: inline; 
    position: relative; 
    margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease;
}
nav a:hover {
    color: #2396d6;
}
nav a::after {
    content: ''; /* Cria um elemento vazio para a barra */
    position: absolute;
    top: 49px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Altura da barra */
    background-color: transparent; /* Cor inicial da barra (transparente) */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor da barra */
}
nav li:hover a::after {
    background-color: #2396d6; /* Cor da barra ao passar o mouse sobre o item do menu */
  }
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Clearfix */
}

h2, p {
    color: #333;
}

.profile-container {
    overflow: hidden; /* Clearfix */
}

.profile-pic {
    max-width: 250px;
    border-radius: 10%;
    margin: 10px 0;
    float: left;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .profile-pic {
        max-width: 300px;
        border-radius: 10%;
        margin: 10px 0;
        margin-right: 20px;
    } 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
}

.skills {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;

}
.t{
    list-style-image: url('./img/verificar.png');
    
}

.projects {
    max-width: 800px;
    margin: 20px auto;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
#text{
    color: white;
}

.sub{
    color: darkgray;
    font-size: 16px;
    margin: 0;
}
.botao-contato {
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Certifique-se de que o botão esteja acima de outros elementos */
    border-radius: 50%;

}

.botao-contato a {
    display: block; /* Certifique-se de que o link cubra toda a área do botão */
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
}

.certificado {
    margin: 10px;
    cursor: pointer;
}

.certificado img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.cen{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .cen img{
        width: 300px;
        height: 250px;
    }
}